.header-inner, .container .main-inner, .footer-inner {
  +mobile() { width: auto; }
}

// embed tag
embed {
   display: block;
   margin:  0px auto 25px auto;
}
// 文章卡片添加阴影效果
.posts-expand { 
	 .post{ 
		margin-bottom: 60px;
		padding: 25px;
		-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
		-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
		} 
}